#dessus {
    
    z-index:1;
    position:relative;
  }

  #dessous {
    margin-top:10px;
    margin-left:-30px;
    position:relative;
  }

  .animé:hover{
    
    background-image: url('../../assets/bleue.png'); 
    animation-name: example;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    position: relative;

  }

  @keyframes example {
    0%   {background-image: url('../../assets/bleue.png'); left:0px; top:200px;}
    75%  {background-image: url('../../assets/rouge.png'); left:0px; top:0px;}
    100% {background-image: url('../../assets/bleue.png'); left:0px; top:200px;}
  }